# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio / Rider
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# .NET
project.lock.json
project.fragment.lock.json
artifacts/
*.nupkg
*.snupkg

# Rider / ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# OS
.DS_Store
Thumbs.db
